In [1]:
import networkx as nx
import pandas as pd
from networkx.algorithms.community import k_clique_communities
import pyodbc
import sqlalchemy
import matplotlib.pyplot as plt
import numpy as np

In [66]:
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=e1001spss1;DATABASE=datamining_temp;UID=datamining_u;PWD=data123')

In [67]:
engine = sqlalchemy.create_engine("mssql+pyodbc://datamining_u:data123@e1001spss1")

In [68]:
query = """
    select * from aml.vw_edges_v2
        """

In [69]:
df = pd.pandas.read_sql_query(query, conn)
#df.to_csv(r'//e1001spss1/working area/Vlachou/AML/cifs.csv', index = False)

In [70]:
G = nx.graph

In [71]:
G = nx.from_pandas_edgelist(df,'Node_A','Node_B')

In [72]:
nx.info(G)

'Graph with 5695682 nodes and 5467471 edges'

In [73]:
communities = list(k_clique_communities(G,3))

In [12]:
'''import gc
del df
gc.collect()'''

0

In [74]:
len(communities)

522147

In [ ]:
#dfc = (pd.DataFrame(communities[0:1000]).stack())

In [ ]:
#for i in range(1000, len(communities), 1000):
    #dfc = dfc.append(pd.DataFrame(communities[i:i+1000]).stack())

In [ ]:
#index = list(np.arange(0,len(communities)))

In [ ]:
#index = list(np.arange(1000,len(communities)))

In [ ]:
#index[0]

In [75]:
dfc = pd.DataFrame((zip(communities)), columns = ['CIF']).explode('CIF').reset_index(level=0).rename(columns={'index':'Community'})

In [77]:
dfc.head(10)

   Community       CIF
0          0  01352710
1          0  04635389
2          0  01352695
3          0  01686598
4          0  05565378
5          0  01224810
6          0  00267990
7          0  00267985
8          1  03758902
9          1  01014484

In [ ]:
'''index = list(np.arange(0,len(communities)))
for i in range(0, len(communities), 1000):
    dfc = dfc.append(pd.DataFrame(communities[i:i+1000], index = index[i:i+1000]).stack(), ignore_index = True)'''

In [ ]:
#dfc['cliq'] = dfc.index.get_level_values(0)

In [ ]:
#dfc.columns=['CIF','Clique']

In [ ]:
#dfc = dfc.reset_index()

In [ ]:
#dfc = dfc[['Clique','CIF']]

In [ ]:
#dfc.head()

In [ ]:
#dfc['Clique'].unique().sum()

In [ ]:
#dfc['CIF'] = dfc['CIF'].map(int)

In [78]:
dfc.to_sql('Communities', schema = 'aml', con=engine, if_exists='replace',index = False)

In [79]:
conn.close()