In [9]:
import pandas as pd
import networkx as nx
import pyodbc
import sqlalchemy

In [6]:
data = pd.read_csv('./Datasets/cliques.txt')

In [7]:
data.head()

   Clique    CIF    CID RISK_CLASS  customer_id              updated
0   35202  79500  79500          L        79500  2022-05-13 00:00:00
1   35205  79515  79515          L        79515  2022-05-13 00:00:00
2   35209  79517  79517          L        79517  2022-05-13 00:00:00
3   17722  79532  79532          L        79532  2022-05-13 00:00:00
4   18682  79534  79534          L        79534  2022-05-13 00:00:00

In [ ]:
G = nx.graph

In [ ]:
G = nx.from_pandas_edgelist(df,'A_CIF','B_CIF')

In [ ]:
cliques = list(k_clique_communities(G,2))